<div class="about">
  <div class="about_numbers">
    <h2>
      Что по цифрам?
    </h2>

    <p class="about_numbers_text">
      Все это только благодаря вашей поддержке.
      Пользователи <br> Тестника однозначно самые передовые и современные студенты.
    </p>

    <div class="about_numbers_main">
      <div class="about_numbers_main_parts">
        <div class="about_numbers_main_parts_amount">
          <img src="assets/users_icon.png.crdownload">
          <p>
            1,052
          </p>
        </div>
        <p>
          Активных пользователей
        </p>
      </div>

      <div class="about_numbers_main_parts">
        <div class="about_numbers_main_parts_amount">
          <img src="assets/search_icon.png">
          <p>
            152,358
          </p>
        </div>
        <p>
          Поисковых запросов
        </p>
      </div>

    </div>
  </div>

  <div class="about_doubt">
    <h2>
      Сомневатесь?
    </h2>

    <p class="about_doubt_text">
      Нам доверяют более 1000 студентов по всему Казахстану.<br>
      Попробовав Тестник однажды, вы больше никогда не захотите готовиться без него.<br>
      Вот, что еще у нас в арсенале:
    </p>


    <div class="about_doubt_offers">
      <div class="about_doubt_offers_title">
        <img src="assets/web_icon.png">
        <p>
          Нужен только браузер
        </p>
      </div>
      <p>
        Пользуйтесь Тестником с любых устройств. Ничего не  нужно устанавливать. <br>
        Просто войдите на сайт.
      </p>
    </div>

    <div class="about_doubt_offers">
      <div class="about_doubt_offers_title">
        <img src="assets/ads_icon.png">
        <p>
          Никакой рекламы
        </p>
      </div>
      <p>
        Мы против  рекламы в любых ее проявлениях. Никаких всплывающих окон и <br>баннеров.
      </p>
    </div>

    <div class="about_doubt_offers">
      <div class="about_doubt_offers_title">
        <img src="assets/design_icon.png">
        <p>
          Приятный дизайн
        </p>
      </div>
      <p>
        Простой и минималистичный интерфейс. Ничего лишнего. Как вы и любите.
      </p>
    </div>


  </div>

</div>
