<div class="home_container">
  <div class="home_container_title">
    <img class="home_container_title_logo" src="assets/logo_test.jpg">

    <div class="home_container_title_hello">
      <h1>
        Hello!
      </h1>

      <img src="assets/hi_icon.png">
    </div>

    <div class="home_container_title_main">
      <p>
        TestKz - сервис по подготовке к ЕНТ, <br> разработанный для выпускников Казахстана.<br>
        Готовиться стало проще с TestKz
      </p>
    </div>
    <p (click)="goToGrades()" class="home_container_title_start"> Начать тестирование</p>
  </div>

</div>
