<div class="price">
  <h1>
    Прайсинг
  </h1>

  <p>
    Самые студенческие цены на свете 🎓 Подписка обойдется <br> вам не дороже чашечки кофе.
  </p>
  <div class="price_containers">
    <div class="price_containers_1">
      <div class="price_containers_1_title">
        <img src="assets/price1.png.crdownload">
        <p>
          "Студент"
        </p>
      </div>

      <div class="price_containers_1_cost">
        <p>
          599₸
        </p>
      </div>

      <p>
        1 аккаунт. После <br> регистрации вы получите <br> доступ сразу ко всем нашим <br>тестам.
      </p>

      <a href="http://api.whatsapp.com/send?phone=77074145687" class="price_containers_1_button">Выбрать</a>

    </div>

    <div class="price_containers_1">
      <div class="price_containers_1_title">
        <img src="assets/price1.png.crdownload">
        <p>
          "Группа"
        </p>
      </div>

      <div class="price_containers_1_cost">
        <p>
          4999₸
        </p>
      </div>

      <p>
        10 аккаунтов. Экономия 15%. <br> После регистрации вы <br> получите доступ сразу ко <br> всем нашим тестам.
      </p>

      <a href="http://api.whatsapp.com/send?phone=77074145687" class="price_containers_1_button">Выбрать</a>

    </div>

  </div>

  <p>
    Остались вопросы? <a href="http://api.whatsapp.com/send?phone=77074145687" class="price_q">Свяжись с нами</a>
  </p>

</div>
